<div app-theme class="blogs-main">
    <app-header></app-header>
    <div class="my-10 ml-10 md:ml-60 lg:ml-60">
        <section class="blog p-2">
            <p class="font-bold mb-5 text-lg cursor-pointer link-hover">
                <a href="https://medium.com/@adhithyan_s/customize-angular-material-component-datepicker-88af0666a70d" target="_blank">
                    Customize Angular Material Component - Date Picker
                </a>
            </p>
            <p class="min-w-80 md:w-96 lg:w-96 flex-wrap">Angular Material provides a lot ready to use components.
                We might require to make some changes on those components as per our needs.
                This article guides how to modify the interface and function Datepicker component
                as per our need.
            </p>
            <p class="font-bold mt-5 link-hover">
                <a href="https://medium.com/@adhithyan_s/customize-angular-material-component-datepicker-88af0666a70d" target="_blank">
                    Read more</a>
            </p>
        </section>
    </div>
</div>