<div app-theme class="about-main">
    <app-header></app-header>
    <div class="ml-40 my-10">
        <h4 class="font-semibold text-2xl">Hello,</h4>
        <p class="mt-3 sec-info">I'm Adhithyan. I'm a front end developer. In pursuit of becoming a full stack
            developer.</p>
    </div>
    <div class="ml-40">
        <h4 class="about-heading text-2xl">Work Experience</h4>
        <div>
            <section class="mt-7">
                <span class="dot-current mt-1"></span>
                <div>
                    <div class="font-bold mb-1">Technical Lead</div>
                    <div class="sec-info font-bold mb-1">L&T Infotech</div>
                    <div class="ter-info">Nov 2020 - present</div>
                </div>
            </section>
            <section class="mt-7">
                <span class="dot mt-1"></span>
                <div>
                    <div class="font-bold mb-1">Senior Engineer</div>
                    <div class="sec-info font-bold mb-1">Renault Nissan Technology & Business Centre India</div>
                    <div class="ter-info">Jan 2018 - Oct 2020</div>
                </div>
            </section>
            <section class="mt-7">
                <span class="dot mt-1"></span>
                <div>
                    <div class="font-bold mb-1">Programmer Analyst</div>
                    <div class="sec-info font-bold mb-1">Cognizant Technology Solutions Pvt Ltd</div>
                    <div class="ter-info">Sep 2016 - Dec 2017</div>
                </div>
            </section>
            <section class="mt-7">
                <span class="dot mt-1"></span>
                <div>
                    <div class="font-bold mb-1">Application Developer</div>
                    <div class="sec-info font-bold mb-1">IBM India Pvt Ltd</div>
                    <div class="ter-info">Jan 2014 - Sep 2016</div>
                </div>
            </section>
        </div>
    </div>
    <app-footer></app-footer>
</div>