<div app-theme class="projects-main flex flex-col">
    <app-header></app-header>
    <div class="container mx-auto my-10 flex flex-col justify-evenly md:flex-col lg:flex-row">
        <div class="max-w-md mx-auto p-5 rounded-2xl overflow-hidden shadow-lg cursor-pointer">
            <div class="h-36 flex flex-wrap content-around">
                <p class="text-lg project-name font-bold"><a href="https://eclaps.in/" target="_blank"> E Claps</a></p>
                <p class="project-desc">E claps is a stage for kids to participate in online contests</p>
                <div class="project-desc">
                    <div class="flex flex-row justify-between">
                        <div class="mt-2"> Built with: </div>
                        <div class="flex flex-row justify-evenly">
                            <img class="ml-4" src="../../assets/angular.svg" alt="">
                            <img class="ml-4" src="../../assets/bootstrap.svg" alt="">
                            <img class="ml-4" src="../../assets/firebase.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w-md mx-auto p-5 rounded-2xl overflow-hidden shadow-lg cursor-pointer">
            <div class="h-36 flex flex-wrap content-around">
                <p class="text-lg project-name font-bold"><a href="https://book-kart.vercel.app/" target="_blank">Book
                        kart</a>
                </p>
                <p class="project-desc">Book store app built on top of google books api</p>
                <div class="project-desc">
                    <div class="flex flex-row justify-between">
                        <div class="mt-2"> Built with: </div>
                        <div class="flex flex-row justify-evenly">
                            <img class="ml-4" src="../../assets/angular.svg" alt="">
                            <img class="ml-4" src="../../assets/tailwind-css.svg" alt="">
                            <img class="ml-4" src="../../assets/ngrx.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="max-w-md mx-auto p-5 rounded-2xl overflow-hidden shadow-lg cursor-pointer">
            <div class="h-36 flex flex-wrap content-around">
                <p class="text-lg project-name font-bold w-full"><a href="https://adhispace.github.io/"
                        target="_blank">Portfolio</a>
                </p>
                <p class="project-desc">The site that you are viewing currently :)</p>
                <div class="project-desc">
                    <div class="flex flex-row justify-between">
                        <div class="mt-2"> Built with: </div>
                        <div class="flex flex-row justify-evenly">
                            <img class="ml-4" src="../../assets/angular.svg" alt="">
                            <img class="ml-4" src="../../assets/tailwind-css.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>