<div app-theme class="home-main">
    <app-header></app-header>
    <div class="flex flex-col">
        <div class="home-intro ml-20 md:ml-32 lg:ml-80 md:mt-24 lg:mt-24">
            <h2 class="text-xl font-bold md:text-xl lg:text-3xl mt-10 md:mt-0"> Hello, I'm Adhithyan <span class="wave">👋</span></h2>
            <h2 class="text-xl font-bold md:text-xl lg:text-3xl mt-3 mb-20 md:mb-10 lg:mb-10">I <img class="inline mx-2" src="../../assets/web-code.svg" alt=""> things on web</h2>
        </div>
        <div class="flex flex-row justify-center">
          <span *ngIf="activeTheme.name ==='light'"><img src="../../assets/home-avatar-light.svg" alt=""></span>
          <span *ngIf="activeTheme.name ==='dark'"><img src="../../assets/home-avatar-dark.svg" alt=""></span>
        </div>
    </div>
</div>